footer
	section.click_tekst
		.container
			.row
				.col-md-12.col-lg-12.col-sm-12.col-xs-12
					.click_tks
						h3
							|About My Click Rewards
						p 
							|My Click Rewards is the internet's FIRST 100% free online click program that allows people to win prizes for simply opening emails!
						p
							|After you register, you will receive an email daily from My Click Rewards. When you receive that email, you must open it and click on the link inside to be added to the daily, weekly, and monthly draw.
						p
							|With draws happening daily, weekly and monthly... there are numerous chances to win!
						p
							|Easy right?
						p
							|Now, you may wonder how all of this is possible... it's all thanks to the sponsors of My Click Rewards.
						p
							|You may see their ads from time to time on the My Click Rewards website or in emails you receive. They are the ones that make My Click Rewards completely free!
						p
							|They pay for advertising and you get free stuff... it's the best of both worlds!
						p
							|Sign up today and take part in the My Click Rewards community, we're excited to have you!