header
	section.the-menu
		.container
			.row
				.col-md-5.col-lg-5.col-sm-5
				.col-md-7.col-lg-7.col-sm-7.col-xs-12
					.main-nav
						ul
							li
								a(href='#') REGISTER
							li
								a(href='#') ABOUT
							li
								a(href='#') CONTACT
							li
								a(href='#') DASHBOARD
							li
								a(href='#') LOGIN
					.mnu-right
						.wrapper-mob
							a(href="" ).toggle-mnu
								span
						.slide-toggle-mnu
							nav
								ul
									li: a(href="") REGISTER
									li: a(href="") ABOUT
									li: a(href="") CONTACT
									li: a(href="") DASHBOARD
									li: a(href="") LOGIN
	








	

				
